@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow:hidden;
}
.navigation.active{
    width: 60px;   
}
button{
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.navigation button{
    position: relative;
    width: 100%;
}
.navigation .tabs__button:hover{
    background: #001722;
}


.navigation .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center; 
}
.navigation .icon .fa{
    color: #fff;
    font-size: 24px;
}
.navigation .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal ;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active{
   width: calc(100% - 60px);
   left: 60px;
}
.main .top-bar{
    width: 100%;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.toggle span i{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
  display: block;
  padding: 2em;
}

.tabs__button.active{
    background: #001722;
    border-right: #fff;
}

